.container {
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-full {
  flex-basis: 100%;
}

.column-two-thirds {
  flex-basis: calc(100% * 2 / 3);
}

img {
  width: 100%;
}
