* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  padding: 1rem 2rem;
  text-align: center;
  z-index: 100;
  background-color: white;
  border-radius: 0.4rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: black;
  opacity: 0.7;
}

.open-button {
  background-color: #4a4ae8;
  border-style: none;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.3rem black;
  font-size: 1.6rem;
  padding: 0.6rem 1.8rem;
  color: white;
  margin: 1rem;
}

button:hover {
  cursor: pointer;
}

.no-button {
  background-color: #eb5d5d;
  color: white;
  border-radius: 0.4rem;
  padding: 0.4rem 1.8rem;
  font-size: 1.6rem;
  border-style: none;
  box-shadow: 0 0.1rem 0.3rem black;
}
