* {
  box-sizing: border-box;
}

.header {
  padding: 1rem 5rem;
}

.divider {
  height: 2px;
  background-color: #e6e9ec;
}

.banner-container {
  display: flex;
  justify-content: center;
  padding: 1rem 5rem;
}

.banner-container > .banner {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  height: calc(600px - 1rem);
  width: calc(16 / 9 * 600px - 5rem);
  min-height: calc(600px - 1rem);
  min-width: calc(16 / 9 * 600px - 5rem);
}

.banner > .banner-image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.banner > .banner-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #696969;
  opacity: 40%;
}

.banner > .banner-text {
  position: absolute;
  text-align: left;
  top: 10%;
  left: 10%;
  width: 48%;
  color: white;
  z-index: 100;
}

.banner-text > .banner-text-header {
  font-family: 'Tiempos Headline', sans-serif;
}

.banner-text > .banner-text-body {
  font-family: Avenir, sans-serif;
  line-height: 2;
}

.banner-text > .banner-text-body > .banner-button {
  font-family: Avenir, sans-serif;
  background-color: #294363;
  border-style: none;
  color: white;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.locations-container {
  background-color: #fafafa;
  text-align: center;
  padding: 1rem 2rem;
  color: #6e6e6e;
  font-family: Avenir, sans-serif;
  border-bottom: 1px solid #e6e9ec;
}

.locations-container .locations-header {
  color: #6e6e6e;
  font-family: 'Tiempos Headline', sans-serif;
}

.locations-container .locations-header-subtext {
  width: 50%;
  margin: auto;
  padding-bottom: 3rem;
}

.locations-container .locations-body {
  font-size: 1.1rem;
  line-height: 2;
}

.learn-more-container {
  text-align: start;
  padding: 1rem 10rem;
}

.learn-more-container h1 {
  font-family: 'Tiempos Headline', sans-serif;
  color: #6e6e6e;
}

.learn-more-container p {
  font-family: Avenir, sans-serif;
  color: #6e6e6e;
}

.learn-more-container .get-started-button {
  font-family: Avenir, sans-serif;
  background-color: #294363;
  border-style: none;
  color: white;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.learn-more-container > .row > :nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.address-container {
  background-color: #525351;
  color: white;
  padding: 4rem;
  font-family: Avenir, sans-serif;
  text-transform: capitalize;
}

.address-container > .row > :nth-child(2) {
  line-height: 2;
}

.footer {
  background-color: #fafafa;
  display: flex;
  color: #6e6e6e;
  font-size: 1.2rem;
  padding: 2rem 4rem;
}

.footer button {
  border-style: none;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
}

.row {
  display: flex;
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  flex-basis: 100%;
}

button:hover {
  cursor: pointer;
}

#product-button,
#implementation-button,
#about-us-button,
#blog-button {
  border-style: none;
  background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1rem;
  color: #a0a0a0;
}

#contact-us-button {
  background-color: #294363;
  color: white;
  border-radius: 0.4rem;
  border-style: none;
  padding: 0 1.5rem;
  font-size: 1rem;
}

#header-button-row {
  display: flex;
  justify-content: space-between;
}
