* {
  box-sizing: border-box;
}

.header {
  padding: 1rem 5rem;
}

.divider {
  height: 2px;
  background-color: #e6e9ec;
}

.banner-container {
  display: flex;
  justify-content: center;
  padding: 1rem 5rem;
}

.banner-container > .banner {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  height: calc(500px - 1rem);
  width: calc(16 / 9 * 500px - 5rem);
  min-height: calc(500px - 1rem);
  min-width: calc(16 / 9 * 500px - 5rem);
}

.banner > .banner-image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.banner > .banner-header-text {
  position: absolute;
  top: 10%;
  left: 10%;
  border: 1px solid black;
  z-index: 100;
}

.filler {
  height: 300px;
  background-color: black;
}

.row {
  display: flex;
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  flex-basis: 100%;
}

button:hover {
  cursor: pointer;
}

#product-button,
#implementation-button,
#about-us-button,
#blog-button {
  border-style: none;
  background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1rem;
  color: #a0a0a0;
}

#contact-us-button {
  background-color: #294363;
  color: white;
  border-radius: 0.4rem;
  border-style: none;
  padding: 0 1.5rem;
  font-size: 1rem;
}

#header-button-row {
  display: flex;
  justify-content: space-between;
}
